<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="2.48.0" targetFramework="net472" />
  <package id="Winium.Elements.Desktop" version="0.2.0" targetFramework="net472" />
  <package id="Winium.WebDriver" version="0.1.1" targetFramework="net472" />
</packages>